body {
  font-family: "Raleway", sans-serif;
  font-family: "Kaushan Script", cursive;
}

* {
  box-sizing: border-box;
  margin: 0;
}

section {
  margin: 50px 0 110px;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}
.section_hedar {
  padding-top: 50px;
  text-align: center;
  color: #2d3033;
}
.section__sub_title {
  font-family: Kaushan Script;
  font-size: 30px;
  font-weight: 400;
  line-height: 44px;
}
.section__title {
  font-family: Raleway;
  font-size: 36px;
  font-weight: 900;
  line-height: 42px;
  position: relative;
  margin-top: 20px;
  text-transform: uppercase;
}
.section__title:after {
  content: "";
  width: 15%;
  max-width: 170px;
  height: 4px;
  background-color: #f38281;
  position: absolute;
  bottom: -50px;
  left: 43%;
}

.section__text {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  margin: 100px 0;
}
.fon {
  background: linear-gradient(
    360deg,
    rgba(237, 215, 137, 0.9) 0%,
    rgba(233, 130, 131, 0.9) 100%
  );
  width: 100%;
  height: 100%;
  position: absolute;
  top: -15px;
  left: -15px;
  display: none;
}
@media (max-width: 1100px) {
  .container {
    padding: 0 20px;
  }
  .section__sub_title {
    font-size: 24px;
  }
  .section__title {
    font-size: 24px;
  }
  .section__text {
    font-size: 14px;
  }
  .fon {
    top: -7px;
    left: -7px;
  }
}

@media (max-width: 500px) {
  .section__title:after {
    content: "";
    width: 40%;
    bottom: -35px;
    left: 30%;
  }
}
/*******************Intro**************/

.intro {
  background: url(../img/intro/bg.png) center no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
  color: #ffffff;
  text-align: center;
}
.header {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 1500px;
  padding-top: 40px;
  align-items: center;
  margin: 0 auto;
  text-transform: uppercase;
  color: #ffffff;
}
.logo {
  width: 25%;
}
.menu {
  width: 50%;
  display: flex;
  justify-content: space-around;
  font-family: Raleway;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0em;
  align-items: center;
}
.menu_element {
  width: 12%;
  max-width: 100px;
  cursor: pointer;
  position: relative;
}
.menu_element:after {
  content: "";
  display: none;
  width: 100%;
  height: 1px;
  background-color: #f4bf87;
  position: absolute;
  top: 35px;
  left: 0;
}

.menu_element:hover {
  color: #f4bf87;
}
.menu_element:hover:after {
  display: block;
}
.intro__content {
  padding-top: 100px;
}
.sub-title {
  font-family: Kaushan Script;
  font-size: 64px;
  font-weight: 400;
  line-height: 93px;
}

.title {
  font-family: Montserrat;
  font-size: 144px;
  font-weight: 700;
  position: relative;
}

.title:after {
  content: "";
  width: 100%;
  max-width: 170px;
  height: 4px;
  background-color: #ffffff;
  position: absolute;
  bottom: -35px;
  left: 43%;
}
.intro__btn {
  margin-top: 100px;
  font-family: Raleway;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  height: 80px;
}
button.intro__btn {
  width: 30%;
  max-width: 370px;

  background: none;
  border: 4px solid #ffffff;
  color: #ffffff;
}
button.intro__btn:hover {
  background: #ffffff;
  border: 4px solid #ffffff;
  color: #e4be8d;
}
button.intro__btn:active {
  border: 4px solid #e4be8d;
}

.navigatoin {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  text-transform: uppercase;
  padding: 0 20px;
}
.navigtion__link {
  width: 24%;
  max-width: 270px;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  padding: 40px 0;
  position: relative;
  cursor: pointer;
}

.navigtion__link span {
  font-family: Raleway;
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
}

.navigtion__link::before {
  content: "";
  width: 100%;
  max-width: 270px;
  height: 4px;
  background-color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
}
.navigtion__link:hover::after {
  content: "";
  width: 100%;
  max-width: 60px;
  height: 4px;
  background-color: #f38281;
  position: absolute;
  top: 0;
  left: 0;
}
.menu1 {
  display: none;
}
@media (max-width: 1100px) {
  .menu {
    font-size: 13px;
  }
  .sub-title {
    font-size: 48px;
  }
  .title {
    font-size: 96px;
  }
  .title:after {
    content: "";
    width: 15%;
    bottom: -35px;
    left: 42%;
  }
  .intro__btn {
    font-size: 18px;
    height: 50px;
  }
  .navigtion__link {
    font-size: 14px;
    padding: 20px 0;
  }

  .navigtion__link span {
    font-size: 24px;
  }
}

@media (max-width: 770px) {
  .header {
    justify-content: space-between;
    align-items: baseline;
  }
  .menu {
    display: none;
  }
  .menu1 {
    display: block;
    cursor: pointer;
    padding-right: 20px;
  }
  .logo {
    padding-left: 20px;
  }
  .sub-title {
    font-size: 36px;
  }
  .title {
    font-size: 48px;
  }
  .title:after {
    content: "";
    width: 15%;
    bottom: -35px;
    left: 42%;
  }
  button.intro__btn {
    width: 280px;
  }
  .navigtion__link {
    font-size: 14px;
    padding: 0;
  }
  .navigtion__link a {
    visibility: hidden;
  }
  .navigtion__link::before {
    width: 100%;
    width: 60px;
  }
  .navigtion__link:hover::after {
    width: 100%;
    width: 60px;
  }
  .navigtion__link:active::after {
    content: "";
    width: 100%;
    max-width: 60px;
    height: 4px;
    background-color: #f38281;
    position: absolute;
    top: 0;
    left: 0;
  }
}
@media (max-width: 500px) {
  .title:after {
    content: "";
    width: 40%;
    bottom: -35px;
    left: 30%;
  }
}

/****************about_us*********/

.about_us__cards {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.about_us_card {
  width: 30%;
  max-width: 370px;
  position: relative;
  background-color: rgba(149, 225, 211, 1);
}

.about_us_card:hover .fon {
  display: block;
  cursor: pointer;
}
.about_us_card:hover img.foto {
  display: none;
}

.about_us_card img {
  width: 100%;
  height: 100%;
}
.card_text {
  text-align: center;
  color: #ffffff;
  position: absolute;
  z-index: 2;
  top: 40%;
  left: 10%;
  width: 80%;
  text-transform: uppercase;
  font-family: Raleway;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
}
.card_text img {
  width: 20%;
  max-width: 30px;
}
@media (max-width: 1100px) {
  .card_text {
    font-size: 18px;
  }
}
@media (max-width: 770px) {
  .about_us__cards {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }
  .about_us_card {
    width: 80%;
    max-width: 450px;
    position: relative;
    background: none;
    margin-bottom: 30px;
  }
  .about_us_card .fon {
    display: block;
    height: 30%;
    left: 0;
    top: 70%;
  }

  .about_us_card:hover img.foto {
    display: inline;
  }

  .about_us_card img {
    width: 100%;
    height: 100%;
  }
  .card_text {
    display: flex;
    justify-content: start;
  }
  .card_text img {
    width: 20%;
    max-width: 30px;
    margin-right: 60px;
  }
}
@media (max-width: 450px) {
  .card_text img {
    width: 20%;
    max-width: 30px;
    margin-right: 30px;
  }
}
/************************futeres****************/
.futeres {
  background-color: #95e1d3;
}
.futures__content {
  display: flex;
  width: 100%;
}
.futures__content_block {
  width: 20%;
  max-width: 235px;
  height: 250px;
  text-align: center;
  color: #ffffff;
  border-right: 1px solid #ffffff;
}
.futures__content_block:first-child {
  border-left: 1px solid #ffffff;
}
.futures__content_block h1 {
  font-family: Raleway;
  font-size: 64px;
  font-weight: 700;
  line-height: 75px;
  margin-top: 50px;
}
.futures__content_block p {
  font-family: Raleway;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  margin-top: 20px;
}
@media (max-width: 1100px) {
  .futures__content_block {
    height: 160px;
  }
  .futures__content_block h1 {
    margin-top: 10px;
    font-size: 48px;
  }
  .futures__content_block p {
    font-size: 20px;
  }
}
@media (max-width: 570px) {
  .futures__content {
    flex-wrap: wrap;
    justify-content: center;
  }
  .futures__content_block {
    width: 50%;
    max-width: 235px;
    height: 140px;
    border-right: none;
    border-bottom: 1px solid #ffffff;
  }
  .futures__content_block:first-child {
    border-left: none;
  }
}

/*********************services*******************/
.services__content {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}
.services__card {
  width: 30%;
  max-width: 300px;
  position: relative;
  text-align: left;
  color: #2d3033;
  padding-left: 60px;
  margin-top: 150px;
}
.services__card img {
  width: 60px;
  position: absolute;
  top: -20px;
  left: -5px;
}
.services__card h2 {
  font-family: Raleway;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}
.services__card p {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  padding-top: 20px;
}
@media (max-width: 1100px) {
  .services__card {
    padding-left: 40px;
  }
  .services__card h2 {
    font-size: 18px;
  }
  .services__card p {
    font-size: 14px;
  }
  .services__card img {
    width: 40px;
    top: -10px;
    left: 0;
  }
}
@media (max-width: 570px) {
  .services__content {
    justify-content: center;
  }
  .services__card {
    width: 90%;
    max-width: 400px;
    position: relative;
    text-align: left;
    color: #2d3033;
    padding-left: 50px;
    margin-top: 50px;
  }
  .services__card:first-child {
    margin-top: 150px;
  }
}
/******************design*****************/
.design {
  background: url(../img/design/bg.png) center no-repeat;
  background-size: cover;
}
.design__fon {
  background-color: rgba(255, 255, 255, 0.8);
}
.design__content {
  position: relative;
  text-align: center;
}
img.ipad {
  width: 80%;
  max-width: 700px;
  margin-top: 150px;
  margin-bottom: 60px;
}

img.ifon {
  position: absolute;
  bottom: -50px;
  left: 68%;
  width: 25%;
  max-width: 200px;
}
@media (max-width: 570px) {
  img.ipad {
    width: 80%;
    max-width: 700px;
    margin-top: 150px;
    margin-bottom: 20px;
  }
}
/***********************we_do***************/
.we_do__content {
  display: flex;
  justify-content: space-between;
  color: #2d3033;
  width: 100%;
}
.we_do__content_el {
  width: 49%;
  max-width: 570px;
}
.we_do__content_foto img {
  width: 100%;
}
.we_do__content_text {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}

.we_do__content_text_el {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #c6cbcd;
  position: relative;
}

.text_el_icon {
  width: 20%;
  max-width: 42px;
  max-height: 42px;
  position: absolute;
  top: 25px;
  left: 20px;
}
.we_do__content_text_el h4 {
  width: 100%;
  min-height: 90px;
  height: 20%;
  font-family: Raleway;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;
  position: relative;
  padding-top: 33px;
  padding-left: 100px;
  border-bottom: 1px solid #c6cbcd;
  cursor: pointer;
}

.text_el_normal h4 {
  border: none;
}
.text_el_active h4::after {
  content: "";
  width: 20px;
  height: 20px;
  border-top: 1px solid #c6cbcd;
  border-left: 1px solid #c6cbcd;
  display: inline-block;
  transform: rotate(45deg);
  position: absolute;
  right: 20px;
  top: 40px;
}

.text_el_normal h4::after {
  content: "";
  width: 20px;
  height: 20px;
  border-top: 1px solid #c6cbcd;
  border-left: 1px solid #c6cbcd;
  display: inline-block;
  transform: rotate(-135deg);
  position: absolute;
  right: 20px;
  top: 35px;
}

.we_do__content_text_el p {
  width: 100%;
  padding: 10px 30px 10px 20px;
  max-height: 130px;
  overflow-y: auto;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  scrollbar-color: #95e1d3;
}
@media (max-width: 1100px) {
  .we_do__content_text_el h4 {
    min-height: 50px;
    padding-top: 10px;
    padding-left: 60px;
    font-size: 18px;
  }
  .text_el_icon {
    top: 5px;
    left: 10px;
  }
  .text_el_active h4::after {
    top: 10px;
  }
  .text_el_normal h4::after {
    top: 10px;
  }
  .we_do__content_text_el p {
    max-height: 100px;
    font-size: 14px;
  }
}
@media (max-width: 700px) {
  .we_do__content {
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
  }
  .we_do__content_el {
    width: 90%;
    max-width: 570px;
  }
  .we_do__content_text_el h4 {
    margin-top: 20px;
  }
}
/******************speach**********************/
.speach {
  background-color: #f8f8f8;
}
.speach__content {
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 40px 70px;
  position: relative;
}
.speach__content::before {
  content: "";
  width: 30px;
  height: 30px;
  border-top: 1px solid #c6cbcd;
  border-left: 1px solid #c6cbcd;
  display: inline-block;
  transform: rotate(-45deg);
  position: absolute;
  left: 10px;
  top: 100px;
  cursor: pointer;
}
.speach__content::after {
  content: "";
  width: 30px;
  height: 30px;
  border-top: 1px solid #c6cbcd;
  border-left: 1px solid #c6cbcd;
  display: inline-block;
  transform: rotate(135deg);
  position: absolute;
  right: 10px;
  top: 100px;
  cursor: pointer;
}
.speach__content_img {
  width: 20%;
  max-width: 170px;
}
.speach__content_img img {
  width: 100%;
}

.speach__content_text {
  width: 75%;
  max-width: 770px;
}

.speach__content_text p {
  font-family: Raleway;
  font-size: 24px;
  font-style: italic;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: #a9afb1;
}
.speach__content_text h3 {
  font-family: Kaushan Script;
  font-size: 30px;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: left;
  padding-left: 120px;
  padding-top: 20px;
  position: relative;
}

.speach__content_text h3::before {
  content: "";
  width: 70px;
  height: 4px;
  display: inline-block;
  background-color: #f38281;
  position: absolute;
  top: 40px;
  left: 0;
}
@media (max-width: 1100px) {
  .speach__content_text p {
    font-size: 18px;
  }
  .speach__content_text h3 {
    font-size: 24px;
  }
  .speach__content_img {
    max-width: 130px;
  }
}
@media (max-width: 700px) {
  .speach__content_img {
    display: none;
  }
  .speach__content {
    justify-content: center;
    padding: 20px 20px;
  }
  .speach__content_text {
    width: 90%;
  }
  .speach__content::before {
    display: none;
  }
  .speach__content::after {
    display: none;
  }
}
/******************team*****************/
.team__content {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.team__content_card {
  width: 33%;
  max-width: 370px;
}
.team__content_img {
  position: relative;
}
.team__content_card img {
  width: 100%;
  height: 100%;
}
.team__content_card:hover .fon {
  display: block;
  cursor: pointer;
}

.card_text {
  text-align: center;
  color: #ffffff;
  position: absolute;
  z-index: 2;
  top: 40%;
  left: 10%;
  width: 80%;
  line-height: 28px;
}
.card_text2 {
  position: absolute;
  bottom: 1%;
  right: 0;
  width: 50%;
  max-width: 168px;
  display: none;
}
.card_text2_icon {
  width: 25%;
  max-height: 42px;
  cursor: pointer;
}
.card_text2_icon img {
  width: 100%;
}

.team__content_text {
  text-transform: uppercase;
  letter-spacing: 0em;
  text-align: center;
}
.team__content_text h3 {
  font-family: Raleway;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  padding-top: 10px;
}
.team__content_text p {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  padding-top: 20px;
}
.team__content_card .card_text img {
  width: 24%;
  max-width: 42px;
  padding: 1px;
}
@media (max-width: 1100px) {
  .team__content_card .card_text img {
    max-width: 35px;
  }
  .team__content_text h3 {
    font-size: 18px;
  }
  .team__content_text p {
    font-size: 14px;
  }
}
@media (max-width: 770px) {
  .team__content {
    flex-wrap: wrap;
    justify-content: center;
  }
  .team__content_card {
    width: 80%;
    max-width: 500px;
    margin-bottom: 50px;
  }
  .team__content_card:hover .fon {
    display: none;
  }
  .card_text2 {
    display: flex;
  }
}
/*******************partners*************/
.partners {
  background-color: #f8f8f8;
}
.partners__content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: auto;
}
.partners__content_lable {
  width: 15%;
  max-width: 125px;
  cursor: pointer;
}
.partners__content_lable img {
  max-width: 100%;
}
@media (max-width: 1100px) {
  .partners__content_lable {
    max-width: 80px;
  }
}
@media (max-width: 550px) {
  .partners__content {
    flex-wrap: wrap;
    justify-content: center;
  }
  .partners__content_lable {
    width: 50%;
    max-width: 500px;
    cursor: pointer;
    text-align: center;
    padding-top: 10px;
  }
  .partners__content_lable:nth-child(3n + 3) {
    width: 51%;
  }
}
/******************work******************/
.work__content {
  display: flex;
  width: 100%;
}
.work__content_col {
  width: 25%;
  display: flex;
  flex-wrap: wrap;
}
.work__content_card {
  width: 100%;
  position: relative;
}
.work__content_card img {
  width: 100%;
  height: 100%;
}
.work__content_card:hover .fon {
  display: block;
  cursor: pointer;
}

.work__content_card .fon {
  background: linear-gradient(
    360deg,
    rgba(237, 215, 137, 0.9) 0%,
    rgba(233, 130, 131, 0.9) 100%
  );
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
.work__content_card .card_text {
  top: 40%;
}
.work__content_card .card_text img {
  width: 15%;
  max-width: 60px;
  padding-bottom: 30px;
}
.work__content_card h3 {
  font-family: Raleway;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: center;
}
.work__content_card p {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;
  text-transform: none;
  padding-top: 10px;
  padding-bottom: 20px;
}
@media (max-width: 1100px) {
  .work__content_card .card_text {
    top: 20%;
  }
  .work__content_card .card_text img {
    width: 15%;
    max-width: 40px;
    padding-bottom: 20px;
  }
  .work__content_card h3 {
    font-size: 18px;
  }
  .work__content_card p {
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
@media (max-width: 770px){
  .work__content{
    display: none;
  }
}

/********************work2***************/
.work__content2{
  display: none;
  width: 100%;
  flex-wrap: wrap;

}

.work__content2_cl1{
  width: 50%;
  display: flex;
  flex-direction: column;
}
.content2_cl1 img{
width: 100%;
height: 100%;
}
.work__content2_cl2{
  display: flex;
  width: 50%;
  height: auto;
}
.content2_cl2 img{
  width: 100%;
  height: 100%;
  }
.work__content2_cl3{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.content2_cl3{
  width: 50%;
}
.content2_cl3 img{
  width: 100%;
  height: 100%;
  }
.content2_cl3:last-child{
  width: 100%;
  height: 40%;
}
@media (max-width: 770px){
  .work__content2{
    display: flex;
  }
}
/***********clients********************/
.clients {
  background: url(../img/clients/bg.png) center no-repeat;
  background-size: cover;
}
.clients__content {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.client {
  width: 47%;
  position: relative;
  max-width: 500px;
  margin-bottom: 100px;
}
.client__img {
  position: absolute;
}
.client_text {
  width: 100%;
  padding-left: 150px;
  color: #2d3033;
  text-align: left;
}
.client_text h2 {
  font-family: Raleway;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0em;
  text-transform: uppercase;
}
.client_text h3 {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-transform: uppercase;
  padding-top: 10px;
  position: relative;
}
.client_text h3::after {
  content: "";
  width: 70px;
  height: 4px;
  background-color: #f38281;
  position: absolute;
  bottom: -30px;
  left: 0;
}
.client_text p {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  padding-top: 70px;
}
@media (max-width: 1100px) {
  .client_text {
    padding-left: 80px;
  }
  .client_text h2 {
    font-size: 18px;
  }
  .client_text h3 {
    font-size: 14px;
    padding-top: 10px;
  }
  .client_text p {
    font-size: 14px;
  }
  .client__img img {
    max-width: 70px;
  }
}
@media (max-width: 700px) {
  .clients__content {
    justify-content: center;
  }
  .client {
    width: 90%;
    position: relative;
    max-width: 500px;
    margin-bottom: 50px;
    text-align: center;
  }
  .client_text {
    padding-left: 0;
    text-align: center;
  }
  .client_text h3::after {
    content: "";
    width: 15%;
    max-width: 90px;
    height: 4px;
    background-color: #f38281;
    position: absolute;
    bottom: -30px;
    left: 43%;
  }
  .client__img {
    position: relative;
  }
}
/*********************stories***************/
.stories_content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 120px;
  padding: 0 10px;
}
.story {
  width: 30%;
  max-width: 370px;
  position: relative;
  color: #2d3033;
}

.story_img {
  width: 100%;
}
.story_date {
  width: 20%;
  max-width: 80px;
  max-height: 80px;
  background-color: #95e1d3;
  color: #ffffff;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
  position: absolute;
  left: -10px;
  top: 20%;
  text-transform: uppercase;
}

.story_date span {
  font-family: Raleway;
  font-size: 36px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
}
.story h1 {
  font-family: Raleway;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  padding-top: 20px;
}
.story p {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  padding-top: 10px;
}
.icons {
  display: flex;
  align-items: center;
  padding-top: 30px;
}
.icons span {
  font-family: Raleway;
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  padding-right: 20px;
}
@media (max-width: 1100px) {
  .story_date {
    width: 25%;
    max-width: 65px;
    max-height: 65px;
    font-size: 14px;
    left: -10px;
    top: 10%;
  }

  .story_date span {
    font-size: 24px;
  }
  .story h1 {
    font-size: 18px;
  }
  .story p {
    font-size: 14px;
  }
  .icons span {
    font-size: 12px;
  }
}
@media (max-width: 700px) {
  .stories_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .story {
    width: 80%;
    max-width: 500px;
    margin-top: 30px;
  }
  .story_date {
    top: 20%;
    left: 0;
  }
}
@media (max-width: 700px) {
  .story_date {
    top: 10%;
  }
}
/********************blog****************/
.blog {
  background: url(../img/stories/bg.png) center no-repeat;
  background-size: cover;
}
.blog__content {
  text-align: center;
  font-family: Raleway;
  font-size: 36px;
  font-weight: 900;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: center;
  color: #f38281;
  height: 230px;
  padding-top: 30px;
  text-transform: uppercase;
  position: relative;
}

.blog__content h2 {
  padding-top: 20px;
}

.blog__content ::after {
  content: "";
  width: 20%;
  max-width: 170px;
  height: 5px;
  background-color: #f38281;
  position: absolute;
  bottom: 40px;
  left: 43%;
}
section.blog {
  margin-bottom: 0;
}
@media (max-width: 1100px) {
  .blog__content {
    font-size: 24px;
    height: 160px;
    padding-top: 10px;
  }
  .blog__content h2 {
    padding-top: 10px;
  }
  .blog__content ::after {
    bottom: 20px;
  }
}
/********************footer*************/
footer {
  background-color: #f8f8f8;
}
.footer__content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 100px 0 20px;
  border-bottom: 1px solid #c6cbcd;
}
.footer__cln {
  width: 30%;
  max-width: 500px;
}
.cln_header {
  text-align: left;
}
/***********cln1*************/
.cln1_text {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  padding-top: 30px;
  color: #c6cbcd;
}
.cln1_follow {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;
  padding-top: 40px;
  color: #2d3033;
  padding-bottom: 20px;
}
.cln1_follow span {
  font-family: Raleway;
  font-size: 36px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: none;
}
.footer__soucial {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  border-top: 1px solid #c6cbcd;
  padding-bottom: 30px;
}
.footer__soucial_text {
  width: 20%;
}
.footer__soucial_icons {
  width: 80%;
  display: flex;
  justify-content: space-between;
}
.footer_icon {
  width: 20%;
}
.footer_icon img {
  width: 95%;
  max-width: 20px;
}

.cln1_follow2 {
  font-family: Raleway;
  font-size: 13px;
  font-style: italic;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  color: #c6cbcd;
}

.footer__input {
  height: 55px;
  width: 65%;
  background-color: #ffffff;
  border: 1px solid #c6cbcd;
  text-align: center;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  border-right: none;
}
.footer_button {
  height: 55px;
  background-color: #95e1d3;
  width: 35%;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
}

.footer_button:hover {
  background-color: #87d2c4;
}
.footer_button:active {
  background-color: #5c958a;
}
@media (max-width: 1100px) {
  .cln1_text {
    font-size: 14px;
  }
  .cln1_follow {
    font-size: 14px;
  }
  .cln1_follow span {
    font-size: 24px;
  }
  .cln1_follow2 {
    font-size: 12px;
  }

  .footer__input {
    height: 37px;
    font-size: 14px;
  }
  .footer_button {
    height: 37px;
    font-size: 14px;
  }
  .footer_icon img {
    max-width: 17px;
  }
}
/***********cln2*************/
.footer__cln2 {
  width: 36%;
}
.footer__cln2 h2 {
  font-family: Raleway;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0em;
  color: #2d3033;
  text-transform: uppercase;
  padding-bottom: 50px;
}

.cln2_card {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
}
.cln2_card_img {
  width: 45%;
}
.cln2_card_img img {
  width: 100%;
  max-height: 105px;
}

.cln2_card_text {
  width: 53%;
}
.cln2_card_text h2 {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  padding-bottom: 5px;
}
.cln2_card_text p {
  font-family: Raleway;
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
}
@media (max-width: 1100px) {
  .footer__cln2 h2 {
    font-size: 18px;
  }

  .cln2_card_img img {
    width: 100%;
    max-height: none;
  }

  .cln2_card_text h2 {
    font-size: 14px;
  }
  .cln2_card_text p {
    font-size: 12px;
  }
}
/***********cln3*************/
.footer__cln3 {
  width: 25%;
}
.footer__cln3 h2 {
  font-family: Raleway;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0em;
  color: #2d3033;
  text-transform: uppercase;
  padding-bottom: 50px;
}
.cln3__content {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.cln3_img {
  width: 33%;
  border: 1px solid #f8f8f8;
}
.cln3_img img {
  width: 100%;
  height: 100%;
}

.footer__cln3 h3 {
  font-family: Raleway;
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-transform: uppercase;
  color: #2d3033;
  padding-top: 25px;
  text-decoration: underline;
}
.footer__cln3 a {
  text-decoration: none;
}

.footer_h2 {
  padding: 20px 0;
  font-family: Raleway;
  font-size: 13px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: center;
}

@media (max-width: 1100px) {
  .footer__cln3 h2 {
    font-size: 18px;
  }
  .footer__cln3 h3 {
    font-size: 12px;
  }
  .footer_h2 {
    font-size: 12px;
  }
}

@media (max-width: 700px) {
  footer {
    background-color: #f8f8f8;
  }
  .footer__content {
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer__cln {
    width: 90%;
    max-width: 500px;
    margin-top: 40px;
  }
  .cln_header {
    text-align: center;
  }
  .footer__cln3 a {
    text-align: center;
  }
}
